<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="shopConnectionString" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="shopConnectionString2" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="shopConnectionString3" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="shopConnectionString4" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="shopConnectionString5" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="shopConnectionString6" connectionString="Data Source=DESKTOP-QQVVQE7;Initial Catalog=shop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
